.category-items {
  display: grid;

  gap: 10px;

  @include sm-block {
    gap: 20px;
  }
}

.category-items__list {
  display: grid;

  gap: 25px;

  @include sm-block {
    grid-template-columns: 1fr 1fr;

    gap: 20px;
  }

  @include xl-block {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
