.category-items {
  display: grid;

  gap: 1rem;

  @include sm-block {
    gap: 2rem;
  }
}

.category-items__list {
  display: grid;

  gap: 2.5rem;

  @include sm-block {
    grid-template-columns: 1fr 1fr;

    gap: 2rem;
  }

  @include xl-block {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
