.details-types {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;

  font-size: 16px;
  line-height: 20px;
}

.details-types__title {
  @include lg-block {
    font-weight: 700;
  }
}

.details-types__variants {
  display: flex;
  justify-content: flex-end;

  gap: 8px;

  @include lg-block {
    justify-content: flex-start;
  }

  input {
    display: none;
  }
}

.type-radio {
  display: inline-flex;
  position: relative;
  width: 20px;
  height: 20px;

  border-radius: 3px;

  cursor: pointer;

  :checked + &::before {
    content: '';

    position: absolute;
    top: -10px;
    left: 50%;
    width: 10px;
    height: 6px;

    transform: translateX(-50%);

    background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.00336 6L2.50168 3L4.29138e-07 3.97391e-07L5.00336 -4.0017e-08L10 -4.76837e-07L7.49832 3L5.00336 6Z' fill='black'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
  }

  &--bordered {
    border: 1px solid transparent;

    :checked & {
      border-color: $black;
    }

    :checked + &::before {
      display: none;
    }
  }

  &--beige {
    background-color: #d69563;
  }

  &--brown {
    background-color: #a16f48;
  }

  &--grey {
    background-color: #e3e3e3;
  }

  &--grey-dark {
    background-color: #373a3d;
  }

  &--black {
    background-color: #000;
  }

  &--white {
    border: 1px solid #000;

    background-color: #fff;
  }
}

.details-types__result {
  color: $dark-gray;

  @include lg-block {
    order: 3;
  }
}
