.h1 {
  font-size: 35px;
  font-weight: 900;
  line-height: 42px;

  @include md-block {
    font-size: 80px;
    line-height: 96px;
  }
}

.h2 {
  font-size: 30px;
  font-weight: 900;
  line-height: 36px;

  @include lg-block {
    font-size: 52px;
    line-height: 60px;
  }

  @include xxxl-block {
    font-size: 65px;
    line-height: 78px;
  }
}

.h3 {
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;

  @include lg-block {
    font-size: 40px;
    line-height: 50px;
  }

  @include xxxl-block {
    font-size: 50px;
    line-height: 60px;
  }
}

.text-lg {
  font-size: 20px;
  line-height: 24px;
}

.text-md {
  font-size: 16px;
  line-height: 25px;

  @include lg-block {
    font-size: 18px;
    line-height: 30px;
  }
}

.text-sm {
  font-size: 14px;
  line-height: 17px;
}

.text-xsm {
  font-size: 12px;
  line-height: 14px;
}

.uppercase {
  text-transform: uppercase;
}
