.feedback {
  padding-top: 70px;

  @include lg-block {
    padding-top: 162px;
  }
}

.feedback__inner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: auto;

  gap: 20px;
  scroll-snap-type: x mandatory;
}

.feedback__item {
  min-width: 250px;
}
