.details-wrapper {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 6px;
}

.details-wrapper__grid {
  display: contents;

  @include lg-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 12px;

    gap: 20px;
  }
}

.category-wrapper__sidebar {
  @include to($lg - 1px) {
    display: none;
    position: absolute;
    z-index: 10;
    top: 272px;
    left: 0;
    width: 100%;
    max-width: 375px;
    padding: 40px 20px;

    border-radius: 0 3px 3px;

    background: #fff;
    box-shadow: 0 4px 25px rgba(0, 0, 0, 25%);

    &--active {
      display: block;
    }
  }

  @include lg-block {
    margin-top: 60px;
  }
}

.pagination {
  display: flex;
  visibility: hidden;

  opacity: 0;

  gap: 10px;

  @include lg-block {
    visibility: visible;

    opacity: 1;
  }
}

.pagination__btn {
  padding: 0;

  color: $dark-gray;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;

  &--active {
    color: $black;
  }
}
