.hero {
  position: relative;
  margin-top: -70px;

  @include md-block {
    height: 939px;
  }

  @include xl-block {
    margin-top: -104px;
  }
}

.hero__img {
  width: 100%;
  height: 306px;

  inset: 0;
  object-fit: cover;

  @include md-block {
    position: absolute;
    height: 100%;
  }
}

.hero__container {
  height: 100%;
}

.hero__info {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  height: 100%;
  padding-top: 14px;
  padding-bottom: 14px;

  gap: 60px;

  @include md-block {
    width: 50%;

    gap: 100px;
  }
}

.hero__link {
  display: inline-block;
  padding-bottom: 10px;

  border-bottom: 3px solid currentcolor;

  color: $black;

  @include md-block {
    color: $white;
  }
}
