.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 12px;
}

.breadcrumbs__link {
  display: flex;

  color: $black;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;

  @include md-block {
    font-size: 14px;
    line-height: 17px;
  }

  &:not(:last-child) {
    &::after {
      content: '-';

      display: block;
      margin-right: 6px;
      margin-left: 6px;
    }
  }

  &:last-child {
    cursor: default;
    pointer-events: none;
  }
}
