.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1.2rem;
}

.breadcrumbs__link {
  display: flex;

  color: $black;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2rem;

  @include md-block {
    font-size: 1.4rem;
    line-height: 1.7rem;
  }

  &:not(:last-child) {
    &::after {
      content: '-';

      display: block;
      margin-right: 0.6rem;
      margin-left: 0.6rem;
    }
  }

  &:last-child {
    cursor: default;
    pointer-events: none;
  }
}
