.personal-details {
  @include lg-block {
    display: flex;
    flex-direction: column;
  }

  &--mobile {
    display: contents;

    @include lg-block {
      display: flex;
    }
  }

  &--company {
    order: 3;

    @include lg-block {
      order: 0;
    }
  }

  &.hidden {
    display: none;

    @include lg-block {
      display: flex;
      visibility: hidden;

      opacity: 0;
    }
  }
}

.personal-details__info {
  display: grid;
  position: relative;
  order: 2;
  margin-top: auto;

  gap: 10px;

  @include lg-block {
    order: 0;

    gap: 20px;
  }
}

.personal-details__title {
  margin-bottom: 10px;

  font-size: 18px;
  font-weight: 900;
  line-height: 22px;

  text-transform: uppercase;

  @include lg-block {
    display: none;
  }
}

.personal-details__user {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  order: 0;
  min-height: 58px;
  padding: 30px;
  column-gap: 30px;

  border: 1px solid transparent;

  row-gap: 20px;

  @include sm-block {
    grid-template-columns: repeat(3, auto);
    min-height: 85px;
    margin-bottom: 20px;
  }

  @include md-block {
    padding: 0;
  }

  @include lg-block {
    margin-bottom: 70px;
  }
}

.personal-details__attributes {
  grid-column: 2/3;

  @include sm-block {
    grid-column: 3/4;
  }
}

.personal-details__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  padding: 10px;

  border-radius: 9999px;

  background-color: $raisin-black;

  @include sm-block {
    width: 85px;
    height: 85px;
  }
}

.personal-details__name {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

  @include lg-block {
    font-size: 25px;
    line-height: 30px;
  }
}

.personal-details__company-name {
  min-height: 58px;
  padding: 30px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  @include sm-block {
    min-height: 85px;
  }

  @include md-block {
    padding: 0;
  }

  @include lg-block {
    margin-bottom: 70px;

    text-align: left;
  }
}
