.products {
  padding-top: 4rem;

  @include lg-block {
    padding-top: 7rem;
  }
}

.products__head {
  position: relative;
  margin-bottom: 2rem;

  text-align: center;

  @include lg-block {
    top: -10rem;
    margin-bottom: 0;

    text-align: right;
  }
}

.products__title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 3rem;
}
