.products {
  padding-top: 40px;

  @include lg-block {
    padding-top: 70px;
  }
}

.products__head {
  position: relative;
  margin-bottom: 20px;

  text-align: center;

  @include lg-block {
    top: -100px;
    margin-bottom: 0;

    text-align: right;
  }
}

.products__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
