.categories {
  display: grid;

  gap: 20px;

  @include md-block {
    grid-template-columns: 1fr 1fr;
  }

  &--mt-sm {
    margin-top: 12px;

    @include md-block {
      margin-top: 48px;
    }
  }

  &--mt-lg {
    margin-top: 34px;

    @include md-block {
      margin-top: 102px;
    }
  }
}
