.account-tabs {
  padding-top: 32px;
}

.account-tabs__controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 14px;

  @include lg-block {
    column-gap: 45px;
  }
}

.account-tabs__btn {
  padding: 0;

  border-bottom: 2px solid transparent;

  color: $silver-sand;
  font-size: 10px;
  font-weight: 700;
  line-height: 12px;
  text-align: left;

  @include md-block {
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
  }

  @include lg-block {
    font-size: 20px;
  }

  @include xl-block {
    font-size: 30px;
    font-weight: 900;
    line-height: 36px;
  }

  &._active {
    border-bottom-color: $black;

    color: $black;

    &:first-of-type {
      @include to($sm - 1px) {
        border-bottom-color: transparent;
      }
    }
  }
}

.account-tabs__icon {
  width: 20px;
  height: 20px;

  pointer-events: none;

  @include sm-block {
    display: none;
  }
}

.account-tabs__btn-text {
  display: none;

  pointer-events: none;

  @include sm-block {
    display: block;
  }
}

.account-tabs__content {
  display: none;
  position: relative;
  padding-top: 20px;

  @include md-block {
    margin-bottom: 100px;
    padding-top: 40px;
  }

  &._active {
    display: block;
  }
}
