.banner {
  position: relative;
  height: 20.6rem;

  @include md-block {
    height: 53.9rem;
    margin-top: -7.4rem;
  }

  @include lg-block {
    height: 73.9rem;
    margin-top: -10.8rem;
  }

  @include xl-block {
    height: 93.9rem;
    margin-top: -10.8rem;
  }
}

.banner__img {
  position: absolute;
  width: 100%;
  height: 100%;

  inset: 0;
  object-fit: cover;
}

.banner__container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  padding-top: 1rem;

  @include md-block {
    padding-top: 16rem;
  }

  @include xl-block {
    padding-top: 22rem;
  }
}
