.banner {
  position: relative;
  height: 206px;

  @include md-block {
    height: 539px;
    margin-top: -74px;
  }

  @include lg-block {
    height: 739px;
    margin-top: -108px;
  }

  @include xl-block {
    height: 939px;
    margin-top: -108px;
  }
}

.banner__img {
  position: absolute;
  width: 100%;
  height: 100%;

  inset: 0;
  object-fit: cover;
}

.banner__container {
  display: flex;
  position: relative;
  flex-direction: column;
  height: 100%;
  padding-top: 10px;

  @include md-block {
    padding-top: 160px;
  }

  @include xl-block {
    padding-top: 220px;
  }
}
