button {
  border: 0;

  background-color: transparent;

  cursor: pointer;

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding-right: 20px;
  padding-left: 20px;

  border: 1px solid $black;
  border-radius: 5px;

  color: $black;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  white-space: nowrap;

  @include md-block {
    height: 45px;
  }
}

.btn--lg {
  height: 70px;

  @include md-block {
    height: 65px;
  }
}

.btn--black {
  background-color: $black;

  color: $white;
}

.btn--light {
  border-color: $white;

  color: $white;
}

.btn--full {
  width: 100%;
}

.fav-btn {
  flex-shrink: 0;
  width: 27px;
  height: 27px;
  padding: 0;

  color: $silver-sand;
}
