button {
  border: 0;

  background-color: transparent;

  cursor: pointer;

  &:disabled {
    cursor: default;
    pointer-events: none;
  }
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  padding-right: 2rem;
  padding-left: 2rem;

  border: 1px solid $black;
  border-radius: 0.5rem;

  color: $black;
  font-size: 2rem;
  font-weight: 500;
  line-height: 2.4rem;
  white-space: nowrap;

  @include md-block {
    height: 4.5rem;
  }
}

.btn--lg {
  height: 7rem;

  @include md-block {
    height: 6.5rem;
  }
}

.btn--black {
  background-color: $black;

  color: $white;
}

.btn--light {
  border-color: $white;

  color: $white;
}

.btn--full {
  width: 100%;
}

.fav-btn {
  width: 2.7rem;
  height: 2.7rem;
  padding: 0;
  flex-shrink: 0;

  color: $silver-sand;
}