.feedback-tile__inner {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  border-radius: 5px;

  background-color: $bright-gray;

  text-align: center;

  aspect-ratio: 1/1;
}

.feedback-tile__text {
  padding: 15px;

  font-size: 20px;
  line-height: 30px;

  @include lg-block {
    font-size: 25px;
  }
}

.feedback-tile__accent {
  padding: 15px;

  font-size: 20px;
  font-weight: 900;
  line-height: 30px;

  @include lg-block {
    font-size: 30px;
  }
}

.feedback-tile__media {
  width: 100%;
  height: 100%;

  object-fit: cover;
}

.feedback-tile__play {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 48px;
  height: 50px;

  @include lg-block {
    width: 80px;
    height: 84px;
  }

  transform: translate(-50%, -50%);

  color: $white;

  ._active + & {
    transition: opacity 0.3s ease-in-out;

    opacity: 0;
  }

  ._active + &:hover {
    opacity: 1;
  }
}

.feedback-tile__mute {
  position: absolute;
  right: 12px;
  bottom: 10px;
  width: 30px;
  height: 34px;

  color: $white;

  @include lg-block {
    right: 30px;
    bottom: 20px;
    width: 50px;
    height: 40px;
  }
}

.feedback-tile__mute-icon {
  position: absolute;
  top: 0;
  left: 0;

  transition: opacity 0.3s ease-in-out;

  opacity: 0;

  &._active {
    opacity: 1;
  }
}

.feedback-tile__title {
  display: none;
  margin-top: 5px;

  @include lg-block {
    display: block;
  }
}
