.field {
  display: flex;
  position: relative;
  flex-direction: column;
}

.field__input {
  display: block;
  position: relative;
  width: 100%;
  height: 50px;
  padding: 8px 20px;

  border: 1px solid $black;
  border-radius: 5px;

  font-size: 14px;
  font-weight: 500;
  line-height: 30px;

  @include lg-block {
    height: 65px;
    padding: 16px 20px;

    font-size: 18px;
  }

  &--area {
    height: 120px;

    @include sm-block {
      flex-grow: 1;
    }
  }

  &::placeholder {
    color: $dark-gray;
  }
}

.field__lbl {
  content: attr(data-lbl);

  display: flex;
  margin-bottom: 10px;
  padding-left: 8px;

  font-size: 12px;
  font-weight: 700;
  line-height: 14px;

  @include lg-block {
    margin-bottom: 20px;

    font-size: 18px;
    line-height: 22px;
  }
}
