.pagination {
  display: flex;
  visibility: hidden;

  opacity: 0;

  gap: 1rem;

  @include lg-block {
    visibility: visible;

    opacity: 1;
  }
}

.pagination__btn {
  padding: 0;

  color: $dark-gray;
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.4rem;

  &--active {
    color: $black;
  }
}
