.block-page {
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  padding-top: 10px;

  @include lg-block {
    padding-top: 90px;
  }
}

.page-wrapper__head {
  display: flex;
  flex-direction: column;

  gap: 10px;

  @include lg-block {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.page-wrapper__subtitle {
  color: $dark-gray;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-align: center;

  @include lg-block {
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
  }
}

.page-wrapper__text {
  display: flex;
  flex-direction: column;
  padding-top: 70px;

  font-size: 14px;
  line-height: 25px;

  gap: 20px;

  @include lg-block {
    flex-direction: row;
    padding-top: 140px;

    font-size: 18px;
    line-height: 30px;
  }
}
