.project-info {
  display: grid;
  margin-top: 60px;

  gap: 60px;

  @include lg-block {
    margin-top: 120px;

    gap: 120px;
  }
}

.project-info__img {
  width: 100vw;
  max-width: none;
  height: auto;
  margin-left: calc(50% - 50vw);

  border-radius: 5px;
}

.project-info__text {
  @include lg-block {
    width: 50%;

    &:nth-of-type(even) {
      justify-self: flex-end;
    }
  }
}
