.production {
  padding-top: 90px;
}

.production__media {
  position: relative;
}

.production__slider {
  margin-top: 40px;

  @include lg-block {
    margin-top: 70px;
  }
}

.production__next,
.production__prev {
  display: none;

  background-repeat: no-repeat;
  background-position: center;

  @include xl-block {
    display: block;
  }
}

.production__next::after,
.production__prev::after {
  display: none;
}

.production__prev {
  left: -40px;

  background-image: url("data:image/svg+xml,%3Csvg width='19' height='21' viewBox='0 0 19 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M-3.87351e-07 10.4291L9.16975 5.21468L18.3395 0.000288974L18.3395 10.4291L18.3395 20.8516L9.16975 15.6372L-3.87351e-07 10.4291Z' fill='black'/%3E%3C/svg%3E%0A");
}

.production__next {
  right: -40px;

  background-image: url("data:image/svg+xml,%3Csvg width='19' height='21' viewBox='0 0 19 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.3396 10.4225L9.16984 15.6369L8.31484e-05 20.8513L8.3536e-05 10.4225L8.39233e-05 -9.42853e-07L9.16985 5.21438L18.3396 10.4225Z' fill='black'/%3E%3C/svg%3E%0A");
}

.production__slide {
  display: flex;
  max-width: 100%;
  overflow: hidden;

  border-radius: 5px;

  img {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }
}

.production__info {
  display: grid;
  padding-top: 40px;

  gap: 40px;

  @include lg-block {
    grid-template-columns: 1fr 300px 300px;
    align-items: flex-end;
    padding-top: 60px;

    gap: 20px;
  }
}

.production__pattern {
  display: none;

  @include lg-block {
    display: block;
  }
}

.production__lbl {
  margin-top: 50px;

  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
}
