.info-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  order: 1;
  margin-bottom: 20px;

  gap: 20px;

  @include lg-block {
    grid-template-columns: 1fr;
    order: 0;
    margin-bottom: 0;
  }
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 5px;

  color: $black;

  @include lg-block {
    padding: 20px;

    color: $white;
  }

  &--red {
    @include lg-block {
      background-color: $carmine-pink;
    }
  }

  &--green {
    @include lg-block {
      background-color: $persian-green;
    }
  }
}

.info-card__top {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;

  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  text-align: center;

  @include lg-block {
    flex-direction: row;
    justify-content: space-between;

    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    text-align: left;
  }
}

.info-card__icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  margin-bottom: 3px;

  border-radius: 5px;

  color: $white;

  @include lg-block {
    width: auto;
    height: auto;
    margin-bottom: 0;
  }

  .info-card--red & {
    background-color: $carmine-pink;
  }

  .info-card--green & {
    background-color: $persian-green;
  }
}

.info-card__icon {
  width: 16px;
  height: 16px;

  @include lg-block {
    width: 28px;
    height: 28px;
  }
}

.info-card__attributes {
  display: none;

  font-size: 25px;
  font-weight: 500;
  line-height: 30px;

  @include lg-block {
    display: block;
  }
}

.info-card__bottom {
  display: none;
  align-items: center;
  justify-content: space-between;

  @include lg-block {
    display: flex;
  }
}

.info-card__btn,
.info-card__text {
  display: none;

  color: $white;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;

  @include lg-block {
    display: block;
  }
}
