.production-info__item {
  display: grid;
  margin-top: 70px;

  gap: 20px;

  @include lg-block {
    grid-template-columns: 1fr 1fr;
    margin-top: 160px;
  }

  &:nth-child(even) {
    .production-info__img {
      order: -1;
    }
  }
}

.production-info__title {
  order: -1;

  @include lg-block {
    order: 0;
  }
}

.production-info__text {
  display: contents;

  @include lg-block {
    display: flex;
    flex-direction: column;

    gap: 30px;
  }
}

.production-info__img {
  order: -1;
  margin: auto;

  border-radius: 5px;

  @include lg-block {
    order: 0;
  }
}
