.tile {
  position: relative;
  overflow: hidden;

  border-radius: 5px;

  color: $black;

  aspect-ratio: 1/1;

  &:hover {
    color: $white;
  }
}

.tile__inner {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 16px 20px;

  transition: background-color 0.3s ease-in-out;

  background-color: $bright-gray;

  color: currentcolor;

  &:hover {
    background-color: $raisin-black;
  }
}

.tile__title {
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;

  @include md-block {
    font-size: 40px;
    line-height: 58px;
  }
}

.tile__img {
  margin: auto;
}

.tile__links {
  display: none;
  position: absolute;
  flex-wrap: wrap;
  column-gap: 18px;

  inset: auto 20px  16px;
  row-gap: 11px;

  @include md-block {
    display: flex;
  }
}

.tile__link {
  color: currentcolor;
  font-size: 16px;
  font-weight: 900;
  line-height: 23px;

  &:hover {
    text-decoration: underline;
  }
}
