.footer {
  padding-top: 96px;

  @include lg-block {
    padding-top: 262px;
  }
}

.footer__inner {
  padding-top: 20px;

  background-color: $black;

  color: $white;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;

  @include lg-block {
    padding-top: 40px;

    background-color: $raisin-black;
  }
}

.footer__top {
  display: flex;
  justify-content: space-between;
  padding-bottom: 28px;

  @include lg-block {
    padding-bottom: 48px;
  }
}

.footer__main-links {
  display: grid;
}

.footer__main-link {
  color: $white;
  font-size: 25px;
  font-weight: 900;
  line-height: 35px;
  text-transform: uppercase;

  @include lg-block {
    font-size: 40px;
    line-height: 40px;
  }

  @include xxxl-block {
    font-size: 50px;
    line-height: 50px;
  }
}

.footer__request-btn {
  padding: 0;

  font-size: 30px;
  font-weight: 900;
  line-height: 36px;
  text-transform: uppercase;

  &--desktop {
    display: none;
    align-self: flex-end;

    color: $white;

    @include lg-block {
      display: flex;
    }
  }

  &--mobile {
    margin: 0 20px 20px;

    color: $black;

    @include lg-block {
      display: none;
    }
  }
}

.footer__logo {
  &--desktop {
    display: none;

    @include lg-block {
      display: flex;
    }
  }

  &--mobile {
    margin-top: 30px;

    @include lg-block {
      display: none;
    }
  }
}

.footer__box {
  display: flex;
  flex-direction: column;
  padding-bottom: 48px;

  border-top: 2px solid $white;

  @include lg-block {
    flex-direction: row;
  }

  &--grid {
    display: grid;

    @include lg-block {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.footer__box-item {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 12px;

  @include lg-block {
    padding-top: 8px;
    padding-right: 12px;
    padding-bottom: 40px;
  }

  &--right {
    flex-shrink: 0;

    border-top: 2px solid $white;

    @include lg-block {
      padding-left: 18px;

      border-top: 0;
      border-left: 2px solid $white;
    }
  }

  &--sm {
    @include lg-block {
      width: 300px;
    }
  }
}

.footer__box-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 24px;
}

.footer__box-title {
  font-weight: 700;
}

.footer__box-icon {
  width: 20px;
  height: 20px;

  object-fit: contain;
}

.footer__nav-list {
  padding-bottom: 40px;

  @include lg-block {
    padding-bottom: 0;
  }

  &--column {
    @include md-block {
      column-count: 3;
    }
  }
}

.footer__nav-link {
  display: block;
  width: 80%;

  color: $white;

  &:nth-child(n + 7) {
    display: none;

    @include md-block {
      display: block;
    }
  }
}

.footer__social {
  display: flex;
  margin-top: auto;

  @include lg-block {
    width: 80%;
  }
}

.footer__social-item {
  display: flex;
  padding-top: 20px;
  padding-bottom: 48px;

  gap: 20px;

  @include lg-block {
    padding-top: 0;
    padding-bottom: 0;

    gap: 32px;
  }

  &--right {
    margin-left: auto;
    padding-left: 30px;

    border-left: 2px solid $white;

    @include lg-block {
      padding-left: 0;

      border-left: 0;
    }
  }
}

.footer__social-link {
  width: 34px;
  height: 34px;

  color: $white;

  @include lg-block {
    width: 48px;
    height: 48px;
  }
}

.footer__contact-link {
  display: block;

  color: $white;

  &:first-of-type {
    margin-top: 20px;
  }
}

.footer__copyright {
  display: flex;
  flex-direction: column;
  padding-top: 30px;

  gap: 10px;

  @include md-block {
    flex-direction: row;

    gap: 20px;
  }

  a {
    color: $white;
  }
}
