.company {
  display: grid;
  margin-top: 38px;

  @include lg-block {
    grid-template-columns: 1fr 1fr;
    margin-top: 48px;
  }

  p + p {
    margin-top: 30px;
  }
}

.company__date {
  width: 70%;
  margin-bottom: 38px;

  font-size: 18px;
  font-weight: 700;
  line-height: 30px;

  @include lg-block {
    width: 50%;
    margin-bottom: 0;

    font-size: 25px;
  }
}
