.details-tab {
  display: flex;
  flex-direction: column;

  gap: 20px;

  @include lg-block {
    display: grid;
    grid-template-columns: 1fr 300px 250px;
  }

  @include xl-block {
    grid-template-columns: 1fr 300px 300px;
  }
}
