.sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sort-by {
  display: flex;
  position: relative;
  align-items: center;

  font-size: 14px;
  line-height: 17px;

  gap: 8px;

  @include to($lg - 1px) {
    > span {
      display: none;
    }
  }
}

.sort-by__inner {
  position: relative;
  padding: 8px 16px;

  transition: background-color 0.2s ease-out;

  &._active {
    border-radius: 3px;

    background-color: $bright-gray;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 25%);
  }
}

.sort-by__dropdown {
  display: none;
  position: absolute;
  z-index: 2;
  top: 32px;
  right: 0;
  width: 100%;
  padding: 8px 16px 16px;

  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;

  background-color: $bright-gray;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 25%);

  white-space: nowrap;

  gap: 16px;

  .sort-by__inner._active & {
    display: grid;
  }
}

.sort-by__type {
  padding: 0;

  text-align: left;
}

.sort-by__btn {
  display: flex;
  align-items: center;
  padding: 0;

  gap: 8px;

  @include lg-block {
    font-weight: 700;
  }
}

.sort-by__icon {
  width: 9px;
  height: 9px;

  transition: transform 0.2s ease-out;

  .sort-by__inner._active & {
    transform: rotate(90deg);
  }
}

.filter-mobile-btn {
  display: flex;
  position: relative;
  z-index: 10;
  align-items: center;
  height: 40px;
  margin-left: -20px;
  padding: 0 20px;

  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  background-color: $white;

  font-size: 14px;
  line-height: 17px;

  gap: 4px;

  @include lg-block {
    visibility: hidden;

    opacity: 0;
  }

  &--active {
    box-shadow: 0 4px 25px rgba(0, 0, 0, 25%);

    &::before {
      content: '';

      position: absolute;
      bottom: -24px;
      left: 0;
      width: 100vw;
      height: 24px;

      background-color: $white;
    }
  }
}

.filter-mobile-btn__icon {
  width: 9px;
  height: 9px;

  transform: rotate(90deg);
}
