.personal {
  display: grid;
  grid-template-columns: auto 1fr;
  flex-grow: 1;
  padding: 30px;

  border: 1px solid $black;
  border-radius: 5px;

  gap: 30px;

  @include md-block {
    grid-template-columns: auto 1fr auto;
    align-items: center;
    padding: 70px;

    .personal-tab--sm & {
      padding: 30px  20px  20px  70px;
    }
  }

  @include xl-block {
    gap: 70px;

    .personal-tab--sm & {
      gap: 0;
    }
  }
}

.personal__avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 58px;
  height: 58px;
  padding: 10px;

  border-radius: 9999px;

  background-color: $raisin-black;

  @include sm-block {
    width: 160px;
    height: 160px;
    padding: 20px;

    .personal-tab--sm & {
      margin-right: 40px;
    }
  }
}

.personal__name {
  margin-bottom: 40px;

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

  @include lg-block {
    font-size: 25px;
    line-height: 30px;

    .personal-tab--sm & {
      margin-bottom: 20px;
    }
  }
}

.personal__btn {
  grid-column: 1/3;
  width: 200px;

  justify-self: center;

  @include md-block {
    grid-column: 3/4;

    .personal-tab--sm & {
      grid-column: 2/3;
    }
  }

  @include xl-block {
    width: 300px;
  }
}
