.contacts-info {
  margin-top: 58px;

  @include lg-block {
    margin-top: 110px;
  }
}

.contacts-info__head {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: baseline;
  margin-bottom: 40px;

  @include md-block {
    grid-template-columns: 1fr 1fr 1.3fr;
    margin-bottom: 30px;
  }
}

.contacts-info__grid {
  display: grid;

  gap: 40px;

  @include sm-block {
    grid-template-columns: 1fr 1fr;
  }

  @include md-block {
    grid-template-columns: 1fr 1fr 1.3fr;
  }
}

.contacts-info__item {
  &--address {
    order: -3;
  }

  &--phone {
    order: -2;
  }

  &--mail {
    order: -1;
  }

  @include sm-block {
    order: 0;
  }
}

.contacts-info__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;

  @include lg-block {
    font-size: 25px;
  }

  &--city {
    color: $dark-gray;
    text-align: right;

    @include md-block {
      text-align: left;
    }
  }
}

.contacts-info__text {
  width: 200px;

  @include lg-block {
    width: 100%;
  }
}

.contacts-social {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;

  @include sm-block {
    justify-content: flex-start;
    padding-top: 70px;

    gap: 110px;
  }
}

.contacts-social__item {
  display: flex;

  gap: 20px;

  @include lg-block {
    gap: 32px;
  }
}

.contacts-social__link {
  width: 34px;
  height: 34px;

  color: $black;

  @include lg-block {
    width: 48px;
    height: 48px;
  }
}
