.delivery {
  display: flex;
  flex-direction: column;
  flex-grow: 0.5;
  justify-content: space-between;
  padding: 20px;

  border-radius: 5px;

  background-color: $persian-green;

  color: $white;

  gap: 20px;

  @include md-block {
    gap: 30px;
  }
}

.delivery__name {
  margin-top: 10px;

  font-size: 16px;
  font-weight: 700;
  line-height: 20px;

  @include lg-block {
    font-size: 18px;
    line-height: 30px;
  }
}

.delivery__text {
  text-align: center;
}

.delivery__btn {
  width: 200px;
  margin: 0 auto;

  justify-self: center;

  @include xl-block {
    width: 260px;
  }
}
