.header-search {
  position: relative;

  @include xl-block {
    width: 230px;
  }

  @include xxxl-block {
    width: 284px;
  }
}

.header-search__field-icon {
  width: 20px;
  height: 20px;

  color: $black;
}

.header-search__field {
  display: flex;

  gap: 20px;

  @include xl-block {
    padding-top: 7px;
    padding-bottom: 7px;

    border-bottom: 1px solid $black;
  }
}

.header-search__input {
  border: 0;

  background-color: transparent;

  color: $black;
  font-size: 12px;
  line-height: 14px;

  &::placeholder {
    opacity: 0.5;
  }
}
