.header-search {
  position: relative;
  padding: 8px 20px 20px;

  @include to($xl - 1px) {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    padding: 18px 20px;

    background: $white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 25%);

    &._mobile-active {
      display: block;
    }
  }

  @include xl-block {
    width: 230px;

    &._active {
      border-radius: 3px;

      background-color: $bright-gray;
      box-shadow: 0 10px 10px rgba(0, 0, 0, 25%);
    }
  }

  @media (min-width: 1400px) {
    width: 284px;
  }
}

.header-search__dropdown {
  display: none;
  position: absolute;
  left: 0;
  width: 100%;
  padding: 5px 20px 20px;

  @include to($xl - 1px) {
    top: 59px;

    background: $white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 25%);
  }

  @include xl-block {
    top: 44px;

    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;

    background-color: $bright-gray;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 25%);
  }

  .header-search._active & {
    display: block;
  }
}

.header-search__hint {
  color: $dark-gray;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
}

.header-search__results {
  display: grid;
  padding-top: 25px;
  padding-bottom: 35px;

  gap: 8px;
}

.header-search__result {
  display: grid;
  grid-template-columns: 40px 1fr;

  font-size: 14px;
  line-height: 17px;

  gap: 8px;
}

.header-search__link {
  font-size: 14px;
  font-weight: 700;
  line-height: 17px;
}

.search-field {
  display: flex;

  gap: 20px;

  @include xl-block {
    padding-top: 7px;
    padding-bottom: 7px;

    border-bottom: 1px solid $black;
  }
}

.search-field__icon {
  width: 20px;
  height: 20px;

  color: $black;

  &--hide {
    @include to($xl - 1px) {
      display: none;
    }
  }
}

.search-field__input {
  flex-grow: 1;

  border: 0;

  background-color: transparent;

  color: $black;
  font-size: 12px;
  line-height: 14px;

  &::placeholder {
    opacity: 0.5;
  }
}

.search-field__close {
  visibility: hidden;
  padding: 0;

  opacity: 0;

  .header-search._active &,
  .header-search._mobile-active & {
    visibility: visible;

    opacity: 1;
  }
}
