.sitemap {
  display: grid;
  max-width: 100%;
  margin-top: 36px;
  overflow: hidden;

  gap: 70px;

  @include lg-block {
    margin-top: 70px;
  }

  > div {
    max-width: 100%;
    overflow: hidden;
  }
}

.sitemap__head {
  max-width: 100%;
  margin-bottom: 20px;
  padding-bottom: 20px;

  border-bottom: 1px solid $dark-gray;
}

.sitemap__title {
  font-size: 20px;
  font-weight: 900;
  line-height: 30px;
  text-transform: uppercase;

  @include lg-block {
    font-size: 30px;
  }
}

.sitemap__content {
  max-width: 100%;
  overflow-x: auto;
}

.sitemap__table {
  width: 100%;

  td {
    width: 25%;
    min-width: 200px;
    height: 35px;
  }

  a {
    display: block;
  }
}
