.categories-filter {
  display: none;
  margin-bottom: 150px;

  @include lg-block {
    display: block;
  }
}

.categories-filter__inner {
  margin-top: 24px;
  padding-left: 20px;
}

.categories-filter__btn {
  display: flex;
  align-items: center;
  padding: 0;

  color: $black;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: left;

  gap: 20px;
}

.categories-filter__icon {
  width: 9px;
  height: 9px;

  transition: transform 0.2s ease-out;

  color: $silver-sand;

  .categories-filter__btn--active & {
    transform: rotate(90deg);
  }
}

.categories-filter__list {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.2s ease-out;

  &--active {
    margin: 10px 0 16px 20px;
  }
}

.categories-filter__link {
  display: block;

  color: $black;
}
