.heading {
  display: contents;
  margin-bottom: 24px;

  @include lg-block {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-bottom: 48px;
  }
}

.heading__title {
  margin-bottom: 24px;

  @include lg-block {
    margin-bottom: 0;
  }

  &--small {
    width: 80%;

    @include lg-block {
      width: 40%;
    }
  }
}

.heading__link {
  display: flex;
  align-items: center;
  order: 1;
  margin-top: 15px;

  color: $silver-sand;
  font-size: 20px;
  font-weight: 900;
  line-height: 23px;
  text-transform: uppercase;
  white-space: nowrap;

  gap: 20px;

  @include lg-block {
    margin-top: 0;

    font-size: 30px;
    line-height: 36px;
  }
}

.heading__link-icon {
  display: none;
  width: 18px;
  height: 18px;

  @include lg-block {
    display: block;
  }
}
