.tabs {
  padding-top: 77px;

  @include lg-block {
    padding-top: 14px;
  }
}

.tabs__controls {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  gap: 20px;

  @include sm-block {
    flex-direction: row;
    align-items: center;
  }

  @include lg-block {
    gap: 70px;
  }
}

.tabs__btn {
  padding: 0;

  border-bottom: 2px solid transparent;

  color: $silver-sand;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  text-align: left;
  text-transform: uppercase;

  @include sm-block {
    width: 45%;
  }

  @include md-block {
    width: auto;
  }

  @include lg-block {
    width: 45%;

    font-size: 50px;
    line-height: 60px;
  }

  &:nth-child(2) {
    align-self: flex-end;
    margin-top: 14px;

    @include sm-block {
      align-self: flex-start;
      margin-top: 0;
    }
  }

  &._active {
    border-bottom-color: $black;

    color: $black;
  }
}

.tabs__content {
  display: none;
  position: relative;
  padding-top: 60px;

  @include md-block {
    padding-top: 140px;
  }

  &._active {
    display: block;
  }
}

.tabs__title-vertical {
  display: none;
  position: absolute;
  top: 75%;
  left: -90px;

  transform: rotate(-90deg);
  transform-origin: 0 0;

  @include xxl-block {
    display: block;
  }
}
