.error {
  display: grid;
  position: relative;
}

.error__img {
  grid-column: 1/1;
  grid-row: 1/1;

  @include to($sm) {
    width: 100vw;
    max-width: 100vw;
    margin-right: -20px;
    margin-left: -20px;
  }

  &--mobile {
    @include sm-block {
      display: none;
    }
  }

  &--desktop {
    display: none;

    @include sm-block {
      display: block;
    }
  }
}

.error__inner {
  display: flex;

  /* position: absolute;
  left: 53%;
  transform: translate(-50%, -50%); */
  grid-column: 1/1;
  grid-row: 1/1;
  flex-direction: column;
  align-items: center;
  align-self: center;
  padding-top: 50%;

  font-size: 18px;
  font-weight: 500;
  line-height: 35px;
  text-align: center;

  @include sm-block {
    padding-top: 25%;
    padding-left: 4%;
  }

  @include xl-block {
    padding-top: 25%;
  }
}

.error__link {
  display: inline-flex;
  width: 260px;

  @include lg-block {
    width: 300px;
  }

  &:first-of-type {
    margin-top: 80px;
  }

  &:last-of-type {
    margin-top: 20px;
  }
}
