@import 'tabs/tabs';

@import 'details-tab/details-tab';

@import 'personal-tab/personal-tab';

@import 'orders-tab/orders-tab';

@import 'returns-tab/returns-tab';

@import 'personal-details/personal-details';

@import 'info-cards/info-cards';

@import 'company/company';

@import 'personal/personal';

@import 'delivery/delivery';

.personal-info-box {
  position: relative;
  height: 50px;
  margin-top: 20px;
  padding: 8px 20px;

  border: 1px solid $black;
  border-radius: 5px;

  font-size: 14px;
  font-weight: 500;
  line-height: 30px;

  @include lg-block {
    height: 65px;
    margin-top: 30px;
    padding: 16px 20px;

    font-size: 18px;
  }

  &::before {
    content: attr(data-lbl);

    position: absolute;
    top: -20px;
    left: 8px;

    font-size: 12px;
    font-weight: 700;
    line-height: 14px;

    @include lg-block {
      top: -30px;

      font-size: 18px;
      line-height: 22px;
    }
  }

  &::after {
    content: attr(data-empty-val);

    color: $dark-gray;
  }

  &:not(:empty)::after {
    display: none;
  }
}

.personal-edit-btn {
  display: flex;
  position: absolute;
  top: 42px;
  right: 0;
  align-items: baseline;

  color: $gray;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;

  gap: 8px;

  @include lg-block {
    position: static;

    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }
}

.personal-edit-btn__icon {
  width: 12px;
  height: 12px;

  @include lg-block {
    width: 24px;
    height: 24px;
  }
}
