.faq {
  padding-top: 70px;

  @include lg-block {
    padding-top: 162px;
  }
}

.faq__inner {
  display: grid;

  gap: 20px;
}

.faq__item {
  border: 1px solid $black;
  border-radius: 5px;

  color: $black;

  &--active {
    background-color: $raisin-black;

    color: $white;
  }
}

.faq__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 8px 20px;

  color: currentcolor;
  font-size: 20px;
  font-weight: 700;
  line-height: 25px;
  text-align: left;

  gap: 16px;

  @include lg-block {
    font-size: 40px;
    font-weight: 900;
    line-height: 48px;
  }
}

.faq__btn-icon-wrap {
  position: relative;
  flex-shrink: 0;
  width: 45px;
  height: 45px;
}

.faq__btn-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 45px;
  height: 45px;

  transition: opacity 0.1s ease-in-out;

  opacity: 1;

  color: currentcolor;

  &--minus {
    opacity: 0;
  }

  .faq__item--active & {
    &--plus {
      opacity: 0;
    }

    &--minus {
      opacity: 1;
    }
  }
}

.faq__content {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.2s ease-out;
}

.faq__info {
  display: flex;
  padding: 16px 20px;

  gap: 60px;

  @include lg-block {
    width: 70%;
  }
}

.faq__img {
  display: none;

  @include lg-block {
    display: block;
  }
}
