.filter {
}

.filter__head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter__title {
  @include to($lg - 1px) {
    display: none;
  }
}

.filter__clear-btn {
  height: 24px;
  padding: 0 8px;

  border: 1px solid $silver-sand;
  border-radius: 3px;

  color: $silver-sand;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
}

.filter__inner {
  display: grid;
  margin-top: 24px;

  gap: 20px;

  @include lg-block {
    padding-left: 20px;

    gap: 12px;
  }
}

.filter__btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0;

  color: $black;
  font-size: 14px;
  line-height: 17px;
  text-align: left;

  gap: 20px;

  @include lg-block {
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
  }
}

.filter__icon {
  width: 9px;
  height: 9px;

  transition: transform 0.2s ease-out;

  color: $silver-sand;

  .filter__btn--active & {
    transform: rotate(90deg);
  }
}

.filter__dropdown {
  max-height: 0;
  overflow: hidden;

  transition: max-height 0.2s ease-out;

  &--active {
    margin: 20px 0;
  }
}

.filter__link {
  display: block;

  color: $black;
}

.range-values {
  display: flex;
  margin-top: 10px;

  gap: 4px;
}

.range-values__item {
  height: 33px;
  padding: 6px 10px;

  background-color: $bright-gray;

  color: $dark-gray;
  font-size: 16px;
  line-height: 19px;

  @include lg-block {
    font-size: 18px;
    line-height: 22px;
  }

  &::before {
    content: attr(data-lbl);

    color: $black;
    font-weight: 500;
  }
}

.filter__variants {
  display: flex;
  padding: 0 16px;

  gap: 8px;

  &--ver {
    flex-direction: column;
  }

  input {
    display: none;
  }
}

.filter__ver-variants {
  display: flex;
  flex-direction: column;
  padding: 0 16px;

  gap: 4px;

  &__lbl {
    cursor: pointer;
  }
}

.custom-control {
  accent-color: black;

  input {
    display: none;
  }
}

.custom-control__lbl {
  display: flex;
  align-items: center;

  cursor: pointer;

  gap: 8px;

  :checked + &--text {
    text-decoration: underline;
  }
}

.custom-control__input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;

  border: 1px solid $black;

  [type='radio'] + .custom-control__lbl &,
  [type='radio'] + .custom-control__lbl &::before {
    border-radius: 9999px;
  }

  [type='checkbox'] + .custom-control__lbl &,
  [type='checkbox'] + .custom-control__lbl &::before {
    border-radius: 3px;
  }

  :checked + .custom-control__lbl &::before {
    content: '';

    display: block;
    width: 8px;
    height: 8px;

    background-color: $black;
  }
}

.om-sliderrange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 16px;
}

.om-sliderrange-range {
  position: relative;
  height: 2px;
  margin: 8px 16px;
}

.om-sliderrange-display {
  display: none;
  justify-content: space-around;
  margin: -6px 10% 0;

  font-size: 12px;
}

.om-sliderrange-range::before {
  content: '';

  display: block;
  height: 2px;

  border-radius: 2px;

  background: $black;
}

.om-sliderrange-range-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 2px;
}

.om-sliderrange-button-start,
.om-sliderrange-button-end {
  position: absolute;
  top: 50%;
  left: 0;
  width: 10px;
  height: 10px;

  transform: translateY(-50%);

  border-radius: 10px;

  background: $black;

  cursor: pointer;
  pointer-events: visible;
}
