.tags {
  display: flex;
  overflow-x: auto;

  gap: 10px;

  @include lg-block {
    grid-column: 2/3;
    flex-wrap: wrap;

    gap: 20px;
  }
}

.tag {
  cursor: pointer;

  input {
    display: none;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100px;
    height: 20px;

    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

    border: 1px solid $black;
    border-radius: 3px;

    font-size: 14px;
    font-weight: 500;
    line-height: 17px;

    @include md-block {
      height: 32px;
    }

    &:hover,
    :checked + & {
      background-color: $black;

      color: $white;
    }
  }
}
