.header {
  position: relative;
  z-index: 100;
  height: 70px;

  transition: background-color 0.3s ease-in-out;

  color: $white;

  @include xl-block {
    height: 104px;
  }

  &--dark {
    color: $black;
  }

  @include to($xl - 1px) {
    &--active {
      &.header--mobile-dark {
        background-color: $raisin-black;

        color: $white;
      }

      &.header--mobile-light {
        background-color: $white;

        color: $raisin-black;
      }
    }
  }
}

.header__menu {
  position: fixed;
  top: 44px;
  bottom: 0;
  left: -200%;
  width: 100%;
  padding: 56px 20px;
  overflow-y: auto;

  transition: left 0.3s ease-in-out;

  gap: 60px;

  @include to($xl - 1px) {
    .header--mobile-dark & {
      background-color: $raisin-black;
    }

    .header--mobile-light & {
      background-color: $white;
    }
  }

  @include xl-block {
    position: relative;
    padding: 26px 0 0;
    overflow: hidden;

    background-color: transparent;

    inset: 0;
  }

  @include xxl-block {
    padding-right: 70px;
    padding-left: 250px;
  }

  &--active {
    left: 0;
  }
}

.header__menu-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include to($xl - 1px) {
    display: grid;
    grid-template-columns: 0.6fr 1fr;
    align-items: flex-start;
    padding: 26px 0;

    border-top: 1px solid currentcolor;

    gap: 26px;
  }
}

.header__menu-list {
  padding: 0 10px 26px 70px;

  @include xl-block {
    display: none;
  }
}

.header__menu-social {
  padding-top: 26px;

  border-top: 1px solid currentcolor;

  @include xl-block {
    display: none;
  }
}

.header-social {
  display: flex;
  justify-content: space-between;

  @include sm-block {
    justify-content: flex-start;

    gap: 80px;
  }
}

.header-social__item {
  display: flex;

  gap: 20px;

  @include lg-block {
    gap: 32px;
  }
}

.header-social__link {
  width: 36px;
  height: 36px;

  color: currentcolor;
}

.mobile-main-nav {
  display: grid;

  gap: 16px;
}

.mobile-main-nav-link {
  display: flex;
  align-items: center;

  color: currentcolor;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;

  gap: 16px;

  &--sm {
    text-transform: none;
  }
}

.mobile-main-nav-link__icon {
  width: 9px;
  height: 9px;

  color: currentcolor;
}

.mobile-back-btn {
  display: flex;
  align-items: center;
  margin-left: -64px;

  color: currentcolor;
  font-size: 14px;
  line-height: 17px;

  gap: 32px;
}

.mobile-back-btn__icon {
  width: 24px;
  height: 24px;

  color: currentcolor;
}

.header__box {
  display: flex;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 30px;

  color: $black;

  gap: 20px;

  @include xl-block {
    padding-top: 10px;
    padding-bottom: 0;
  }

  @include xxl-block {
    gap: 40px;
  }

  @include xxxl-block {
    gap: 60px;
  }

  @include to($xl - 1px) {
    .header--mobile-dark &--active {
      color: $white;
    }

    .header--mobile-light &--active {
      color: $raisin-black;
    }
  }
}

.header__logo {
  display: flex;
}

.header__logo-img {
  width: 114px;
  height: 20px;

  transition: color 0.3s ease-in-out;

  color: $black;

  @include xl-block {
    width: 195px;
    height: 34px;
  }

  .header--active & {
    color: $white;
  }
}

.header__time,
.header__call-btn,
.header__btn {
  display: flex;
  align-items: center;

  color: currentcolor;

  gap: 16px;
}

.header__btn {
  position: relative;

  @include to($xl - 1px) {
    padding-top: 22px;

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

    &::before {
      content: attr(data-lbl);

      position: absolute;
      top: 0;
      left: 37px;

      font-size: 10px;
      font-weight: 400;
      line-height: 12px;
    }
  }
}

.header__time,
.header__btn {
  font-weight: 700;
}

.header__call-btn {
  font-weight: 900;
  text-transform: uppercase;

  @include to($xl - 1px) {
    display: none;
  }
}

.header__time {
  position: relative;

  @include to($xl - 1px) {
    grid-column: 2/3;
    padding-top: 22px;

    font-size: 14px;
    font-weight: 400;
    line-height: 17px;

    .header__icon {
      display: none;
    }

    &::before {
      content: attr(data-lbl);

      position: absolute;
      top: 0;
      left: 0;

      font-size: 10px;
      font-weight: 400;
      line-height: 12px;
    }
  }

  @include xl-block {
    .header--dark & {
      font-weight: 400;
    }
  }
}

.header-mobile-call {
  @include to($xl - 1px) {
    grid-column: 2/3;
    grid-row: 2/3;
  }
}

.header__icon {
  width: 16px;
  height: 16px;
}

.header__actions {
  display: flex;
  align-items: center;
  margin-left: auto;

  gap: 20px;

  @include xl-block {
    margin-left: 0;
  }
}

.nav {
  display: none;
  margin-left: auto;

  @include xl-block {
    display: flex;
  }
}

.nav__list {
  display: flex;

  list-style: none;

  gap: 20px;
  padding: 0;

  @include xxxl-block {
    gap: 40px;
  }
}

.nav-link {
  display: flex;
  align-items: center;
  padding: 0;

  color: currentcolor;
  font-weight: 700;
  text-transform: uppercase;

  gap: 20px;

  &--mob-hide {
    display: none;

    @include xl-block {
      display: flex;
    }
  }

  &--desktop-hide {
    @include xl-block {
      display: none;
    }
  }
}

.nav-link__icon {
  width: 20px;
  height: 20px;
}

.menu-btn {
  display: flex;
  position: relative;
  width: 20px;
  height: 20px;
  padding: 0;

  color: currentcolor;

  @include xl-block {
    display: none;
  }
}

.menu-btn__icon {
  position: absolute;
  width: 20px;
  height: 20px;

  transition: opacity 0.3s ease-in-out;

  inset: 0;

  &--close {
    visibility: hidden;

    opacity: 0;
  }

  .menu-btn--active & {
    &--close {
      visibility: visible;

      opacity: 1;
    }

    &--open {
      visibility: hidden;

      opacity: 0;
    }
  }
}
