.question-box {
  padding-top: 70px;

  @include md-block {
    padding-top: 120px;
  }
}

.question-box__form {
  display: flex;
  flex-direction: column;
}

.question-box__top {
  display: contents;

  @include lg-block {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding-bottom: 16px;

    border-bottom: 2px solid $black;
  }
}

.question-box__bottom {
  display: contents;

  @include lg-block {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    column-gap: 20px;
  }
}

.question-box__fields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  order: 1;
  margin-top: 16px;
  margin-bottom: 16px;

  gap: 20px;

  @include md-block {
    flex-direction: row;
    align-items: center;
  }

  @include lg-block {
    margin-top: 0;
    margin-bottom: 0;
  }

  @include xl-block {
    width: 622px;
  }
}

.question-box__input {
  width: 100%;
  height: 52px;
  padding: 10px;

  border: 1px solid $black;
  border-radius: 5px;

  background-color: $white;

  color: $white;
  font-size: 20px;
  font-weight: 900;
  line-height: 52px;
  text-transform: uppercase;

  @include lg-block {
    width: 300px;

    background-color: $black;
  }

  &--textarea {
    grid-column: 1/3;
    height: 125px;

    resize: none;

    @include lg-block {
      width: 100%;
    }
  }

  &::placeholder {
    opacity: 0.7;
  }
}

.question-box__btn {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;

  color: $black;
  font-size: 20px;
  font-weight: 900;
  line-height: 24px;
  text-transform: uppercase;

  @include md-block {
    margin-top: 0;
    margin-bottom: 0;

    font-size: 30px;
    line-height: 36px;
  }
}

.question-box__text {
  order: 0;
  margin-top: 24px;
  margin-bottom: 20px;
  padding-bottom: 20px;

  border-bottom: 2px solid $black;

  @include lg-block {
    max-width: 300px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;

    border-bottom: 0;
  }
}

.question-box__grid {
  order: 1;

  @include lg-block {
    display: grid;
    flex-grow: 1;
    justify-content: space-between;
    order: 0;
    max-width: 622px;

    gap: 20px;
  }
}

.question-box__hint {
  order: 4;

  @include to($lg) {
    color: $dark-gray;
    font-size: 18px;
    line-height: 22px;
  }

  @include lg-block {
    max-width: 300px;
  }
}
