.popup {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: none;

  &._active {
    display: flex;
  }
}

.popup__overlay {
  position: absolute;
  background-color: rgba(214, 214, 214, 0.41);
  backdrop-filter: blur(10px);
  inset: 0;
}

.popup__inner {
  margin: auto;
  background-color: $white;
  padding: 34px 20px 26px 20px;
  border-radius: 5px;
  position: relative;
  width: 100%;
  max-width: 303px;
}

.popup__close {
  position: absolute;
  width: 44px;
  height: 44px;
  top: -50px;
  right: -50px;
}

.popup__icon {
  width: 32px;
  height: 32px;
  display: block;
  margin: 0 auto 32px auto;
}

.popup__title {
  font-weight: 700;
  font-size: 25px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 32px;
}

.popup__subtitle {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  margin-bottom: 24px;

  &--sm {
    font-size: 14px;
    line-height: 17px;
    text-align: left;
  }

  .popup__title + & {
    margin-top: -16px;
  }
}

.popup__form {
  display: grid;
  gap: 20px;
}

.popup__hint {
  font-size: 13px;
  line-height: 17px;
  margin-top: 32px;

  color: $dark-gray;
}

.popup__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  .popup__hint + & {
    margin-top: 32px;
  }
}

.popup__action {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  &:only-child {
    margin: 0 auto;
  }

  &--black {
    color: $black;
  }

  &--grey {
    color: $dark-gray;
  }
}

.popup__radio {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: $dark-gray;
  cursor: pointer;

  :checked + & {
    color: $black;
  }
}
