.popup {
  display: none;
  position: fixed;
  z-index: 9999;
  max-height: 100vh;
  overflow-y: auto;

  inset: 0;

  &._active {
    display: flex;
  }
}

.popup__overlay {
  position: fixed;

  background-color: rgba(214, 214, 214, 41%);

  backdrop-filter: blur(10px);
  inset: 0;
}

.popup__inner {
  position: relative;
  width: 100%;
  max-width: 303px;
  margin: 65px auto auto;
  padding: 34px 20px 26px;

  border-radius: 5px;

  background-color: $white;

  @include sm-block {
    margin: auto;
  }
}

.popup__close {
  position: absolute;
  top: -45px;
  right: 0;
  width: 34px;
  height: 34px;

  @include lg-block {
    right: -45px;
    width: 44px;
    height: 44px;
  }
}

.popup__icon {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto 32px;
}

.popup__title {
  font-size: 25px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.popup__subtitle {
  margin-bottom: 24px;

  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;

  &--sm {
    font-size: 14px;
    line-height: 17px;
    text-align: left;
  }

  &--lg {
    font-size: 25px;
    line-height: 30px;
    text-align: left;
  }

  .popup__title + & {
    margin-top: -16px;
  }
}

.popup__form {
  display: grid;

  gap: 20px;
}

.popup__hint {
  margin-top: 32px;

  color: $dark-gray;
  font-size: 13px;
  line-height: 17px;
}

.popup__actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;

  .popup__hint + & {
    margin-top: 32px;
  }

  .popup__info + & {
    margin-top: 60px;
  }
}

.popup__action {
  padding: 0;

  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  &:only-child {
    margin: 0 auto;
  }

  &--black {
    color: $black;
  }

  &--grey {
    color: $dark-gray;
  }
}

.popup__radio {
  color: $dark-gray;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

  cursor: pointer;

  :checked + & {
    color: $black;
  }
}

.popup__info {
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 40px;
}

.popup__warn-icon {
  width: 40px;
  height: 40px;
}

.rating-lbl {
  margin-bottom: 6px;

  color: $dark-gray;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.rating {
  display: flex;
  align-items: center;

  gap: 8px;
}

.rating__star {
  width: 45px;
  height: 48px;

  transition: color 0.3s ease;

  color: $dark-gray;

  cursor: pointer;

  &._active {
    color: #f7a81c;
  }

  svg {
    pointer-events: none;
  }
}

.city {
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 18px;
  line-height: 22px;
}

.city__name {
  color: $persian-green;
  font-weight: 500;
}

.city-list {
  display: grid;
  max-height: 400px;
  overflow-y: auto;

  gap: 8px;
}

.city-list__item {
  font-size: 18px;
  line-height: 30px;

  cursor: pointer;

  span {
    display: inline-block;

    border-bottom: 1px solid transparent;
  }

  :checked + span {
    border-color: $black;
  }
}
